.form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-update{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #d3e3fd;
    margin-bottom: 20px;
    width: 300px;
    justify-content: left;
    border-radius: 5px;
}
.field-update label{
    font-size: 18px;
    flex: 1;
    text-align: left;
    color: #9e9e9e;
}
.field-update input{
    border-style: none;
    flex: 2;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
}
.update-btn{
    background-color: #528dec;
    color: white;
    border-style: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
}