.delete-btn{
    background-color: #f15e5e;
    border-style: none;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 15px;
    width: 100px;
}
.delete-btn:hover{
    background-color: rgb(162, 4, 4);
    color: white;
}