.form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    width: 300px;
    justify-content: left;
    border-radius: 5px;
}
.field label{
    font-size: 18px;
    flex: 1;
    text-align: left;
    color: #9e9e9e;
}
.field input{
    border-style: none;
    flex: 2;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
}
hr{
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.create-btn{
    background-color: #7eb4ed;
    border-style: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
}
.create-btn:hover{
    background-color: rgb(18, 115, 251);
    color: white;
}